*{
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 60vw;
  overflow-x: hidden;
  margin: 10vh auto;
}
figcaption {
  padding-top: 2rem;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 2rem;
}
figure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.slider {
  width: 400%;
  overflow-x: hidden;
  display: flex;
  transition: 0.5s ease-in;
  pointer-events: none; /* при клике на любой слайд не будет сброшена фокусировка */
}
.wrapper {
  border: 1em solid gainsboro;
  border-radius: 10%;
}
.slides img {
  margin: 0;
  width: 60vw;
}
.switchers {
  transform: translateY(-70%);
  margin-left: 60%;
  width: 40%;
  background: white;
  display: flex;
  justify-content: flex-end;
}

.wrapper input {
  visibility: hidden;
  width: 0%;
  height: 0%;
}
.legend p {
  visibility: hidden;
}
#dot1:checked ~ .slider {
  transform: translateX(0%);

}

#dot2:checked ~ .slider {
  transform: translateX(-25%);
}

#dot3:checked ~ .slider {
  transform: translateX(-50%);
}

#dot4:checked ~ .slider {
  transform: translateX(-75%);
}

.switchers label {
  display: inline-block;
  cursor: pointer;
  width: 2.2rem;
  height: 2.2rem;
  background-color: white;
  outline: none;
}
.switchers label div {
  width: 1rem;
  height: 1rem;
  margin: 0.2rem;
  border: 0.3rem  solid beige;
  background-color: rgb(137, 175, 91);
  border-radius: 50%;
  opacity: 1.0;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.switchers label:hover div {
  background-color: rgb(31, 255, 1);
}
.switchers label:active div {
  border: 0.3rem  solid rgb(255, 0, 0);
  background-color: rgb(175, 91, 126);
}

label:focus div
  {
  border: 0.3rem  solid rgb(0, 81, 255);
  background-color: rgb(3, 3, 3);
}
@media screen and (max-width: 800px){ 
  .switchers {
    transform: translateY(-150%);
    width: 100%;
    background: none;
    justify-content: center;
    margin-left: 0;
  } 
  figcaption {
    text-align: left;
    padding-left: 0;
  }
}
